        <div class="container">
        <div class="row">        
          <div class="card" style="width:14rem"  fxFlexAlign="stretch" *ngFor="let fav of favoriteWeathers">
            
                <div class="card-body">
                    <h5 class="card-title" >{{fav.cityName}} </h5>
                    <p>{{fav.temperature}} </p>
                    <p>{{fav.weatherType}} </p>
                    
                    
                  </div>
                </div> 
          </div>
          </div>
    
