

        


<div  *ngIf="false"class="view" style="background-image: url('https://travel.home.sndimg.com/content/dam/images/travel/stock/2018/10/30/iStock_846088202_ChrisBoswell_Badlands_USRoadTripRoutes.jpg.rend.hgtvcom.966.644.suffix/1540915995809.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"> 

        
        <!-- Mask & flexbox options-->
          <!-- Content -->
          <div class="container">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                <h1 class="h1-responsive font-weight-bold mt-sm-5">Welcome to Weather App</h1>
                <hr class="hr-light">
                <div>
    
                <button type="button" class="btnCustom" (click)="enterSite()" >Continue To The Site </button>
              </div>
    
              <!--Grid column-->
              <!--Grid column-->
       
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
          <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
</div>

<div class="container">
<app-header></app-header>

</div>
